<h2>Products</h2>

<div *ngFor="let product of products">
    <div *ngIf="inList(product.category) && product.visible" class="block">
        <h3>
            <a [title]="product.name + ' details'"
               [routerLink]="['/products', product.id]">
                {{ product.name }}
            </a>
        </h3>
        <div *ngIf="product.images">
            <img [src]='product.images[0]' height="300px">
        </div>
        <div>
            <img *ngFor="let _ of [].constructor(product.rating)" src="https://pngicon.ru/file/uploads/zvezda.png" height="30px">
        </div>
        <pre *ngIf="product.description">Description:<br>{{product.description}}
        </pre>
        <p *ngIf="product.link">
            <a [href]="product.link" target=”_blank”>
                To Kaspi.kz
            </a>
        </p>
        <div><input type="checkbox" [checked]="product.liked" (change)="like(product)">Like</div>
        <div><button type="button" (click)="share(product.link, 'https://web.telegram.org/k/')">
            Share
        </button></div>
        <app-product-alerts
                [product]="product"
                (notify)="onNotify()">
        </app-product-alerts>
        <div><button type="button" (click)="delete(product)">
            Delete
        </button><div>
    </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->